:root {
    --white: #ffffff;
    --black: #000000;
    --sbj-red: #e30613;
    --sbj-blue: #1d213f;
    --sbj-white: #ffffff;
    --color-link: #0066a1;
    --color-link-hover: darken(#0066a1, 10%);
    --yellow: #fdc100;
    --weber-black: #222;
    --philips-blue-light: #0096ee;
    --weber-brown: #5A4C40;
    --grey: #f9f9f9;
    --bat-blue: #0e2b63;
}
